.legal-notice-bloc {
    margin: 20px;
}

.intro {
    font-style: italic;
}

.texte-corps {
    margin-top: 20px;
    text-align: justify;
}

.legal-notice-bloc h1 {
    font-size: large;
    font-weight: bolder;
}

.legal-notice-bloc p {
    margin-top: 15px;
}

.space {
    margin-right: 15px;
}