.title-contact {
    font-weight: bold;
    margin: 20px;
}

.form-contact {
    margin: 35px 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-contact input {
    padding: 20px;
    border-radius: 25px;
    border: grey 2px solid;
    text-align: center;
}

.form-contact ::placeholder {
    text-align: center;
}