.createTraject-bloc {
    margin: 5px 15px 5px 15px;
}

.form-create-trajet {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-create-trajet input {
    padding: 20px;
    border-radius: 25px;
    border: grey 2px solid;
    text-align: center;
}

.form-create-trajet ::placeholder {
    text-align: center;
}

.form-champs {
    display: flex;
    flex-wrap: nowrap;
}

.form-champs label {
    margin-right: 20px;
    font-weight: 600;
}

.createTraject-bloc h1 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 25px;
}

.form-champs {
    margin-bottom: 25px;
}

.btn-create-trajet {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 200px;
    background-color: #2146C7;
  }
  
.btn:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

