.traject-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-left: 20px;
    margin: 20px;
    height: 200px;
}

.left-side {
    margin-right: 40px;
}

.up-card,
.down-card {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.bold {
    font-weight: bold;
}

.delete-traject {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 200px;
    background-color: #2146C7;
    width: 220px;
}

.delete-traject:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.delete-param {
    margin-right: 15px;
}