.traject-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-left: 20px;
    margin: 20px;
    width: 80%;
    height: 200px;
}

.left-side {
    margin-right: 40px;
}

.up-card,
.down-card {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.bold {
    font-weight: bold;
}