body {
    height: 100%;
}

.home-bloc .intro {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.home-bloc .intro p {
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.shearch-bar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-left: 20px;
    width: 90%;
    height: 20%;
  }

.flex-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.shearch-bar-section input {
    width: 100%;
    margin: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-search-style {
    font-weight: bold;
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: 10px;
}

.input-search-style:hover {
    cursor: pointer;
}

output {
    margin-right: 30px;
}

#wrap-carroussel{
    max-width: 780px;
    width: 100%;
    display:block;
    float:left;
  }

 .img-size {
    width: 320px;
    height: 280px;
    max-width: 350px;
    max-height: 350px;
    min-height: 300px;
    border-radius: 10px;
    margin-top: 30px;
 }

 .bloc-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 25px;
 }

 .bloc-info-title h2{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    color: #2146C7;
    margin-bottom: 30px;
    margin-top: 30px;
}

#bloc-info-1,
#bloc-info-2,
#bloc-info-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

#bloc-info-1 h3,
#bloc-info-2 h3,
#bloc-info-3 h3 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:615px) {
.img-size {
        width: 400px;
        height: 380px;
        max-width: 450px;
        max-height: 450px;
        min-height: 300px;
    }
}
@media screen and (min-width:767px) {

    .shearch-bar-section {
        width: 90%;
        margin-left: 5%;
      }    

    .input-search-style {
        height: 60px;
        
      }   
    .shearch-bar-section input {
        width: 40%;
    }
    .search-form {
        width: 80%;
    }
    .flex-mobile {
        width: 100%;
    }
}

@media screen and (min-width:1100px) {

    .img-size {
        width: 320px;
        height: 280px;
        max-width: 350px;
        max-height: 350px;
        min-height: 300px;
    }
    
    .bloc-info {
        flex-direction: row;
        align-items: center;
        margin-top: 70px;
    }
    .bloc-info-title h2{
        font-size: 35px;
    }
}