body {
    height: 100%;
}

.home-bloc .intro {
    width: 100%;
    height: 40px;
    padding: 30px;
    margin-bottom: 45px;
    background-color: rgba(22, 22, 23, .8);
    box-shadow: 0 8px 5px -2px grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-magin {
    margin-bottom: 20px;
}

.home-bloc .intro p {
    font-size: 25px;
    font-style: italic;
    display: flex;
    align-items: center;
    color: white;
}

.shearch-bar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto; 
    margin-top: 20px;
  }

.shearch-bar-section h2 {
    font-size:30px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.flex-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-form, .desk-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.field-style {
    padding: 10px;
    width: 170px;
    border-radius: 5px;
    box-sizing: border-box;
    border: rgb(191, 174, 174) 2px solid;
    text-align: center;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 10px;
}

.field-style-nb {
    width: 140px;
}

.form-champs-home {
    margin: 15px 0 0 15px;
    display: flex;
    align-items: center;
    width: 250px;
}

.form-champs-home-slider {
        margin-top: 15px;
        display: flex;
        align-items: center;
        width: 270px;
    }

.input-search-style::placeholder {
    color: black;
}

.input-search-style:hover {
    cursor: pointer;
    transition: 1000ms;
    transform: scale(1.03);
    opacity: 0.8;
}

output {
    margin-left: 5px;
}


#wrap-carroussel{
    max-width: 780px;
    width: 100%;
    display:block;
    float:left;
  }

 .img-size {
    width: 320px;
    height: 280px;
    max-width: 350px;
    max-height: 350px;
    min-height: 300px;
    border-radius: 10px;
    margin-top: 30px;
 }

.img-size:hover {
    transition: 2000ms;
    transform: scale(1.1);
  }

 .bloc-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 25px;
 }

 .bloc-info-title h2{
    font-size: larger;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.corps-page-info {
    padding: 30px;
    background-color:black;
    margin-top: 60px;
}

#bloc-info-1,
#bloc-info-2,
#bloc-info-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

#bloc-info-1 h3:hover,
#bloc-info-2 h3:hover,
#bloc-info-3 h3:hover {
    opacity: 0.8;
    transition: 1000ms;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#bloc-info-1 h3,
#bloc-info-2 h3,
#bloc-info-3 h3 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media screen and (max-width:615px) {
.home-bloc .intro p {
    font-size:15px;
    }
}
@media screen and (min-width:615px) {
.img-size {
        width: 400px;
        height: 380px;
        max-width: 450px;
        max-height: 450px;
        min-height: 300px;
    }
}
@media screen and (min-width:767px) {

    .field-style {
        margin-right: 30px;
        width: 230px;
    }

    .form-champs-home-slider {
        justify-content: center;
        width: 270px;
    }

    .field-style {
        font-size: 15px;
    }

}

@media screen and (min-width:1100px) {

    #bloc-info-1,
    #bloc-info-2,
    #bloc-info-3 {

            margin-left: 50px;
            padding: 25px;
        }

    .img-size {
        width: 320px;
        height: 280px;
        max-width: 350px;
        max-height: 350px;
        min-height: 300px;
    }
    
    .bloc-info {
        flex-direction: row;
        align-items: center;
        margin-top: 70px;
    }
    .bloc-info-title h2{
        font-size: 35px;
    }
}

@media screen and (min-width:1370px) {

    .desk-form {
        display: flex;
        flex-direction: row;
        width: 60%;
    }
}