body {
    height: 100%;
}

.home-bloc .intro {
    width: 100%;
    height: 40px;
    margin-top: 15px;
}

.home-bloc .intro p {
    font-size: 15px;
    font-style: italic;
    text-align: center;
}