.title {
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row-gender {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: solid 1px #2146C7;
}

.form input:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: solid 1px grey ;
}


.intro-texte {
    font-style: italic;
    text-align: center;
    margin: 20px;
}

.err {
    color: red;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.success {
    color: green;
    font-weight: bold;
}

.no-decoration {
    border: none;
    background-color: white;
    cursor: pointer;
}

.no-decoration:hover {
    font-weight: bold;
}

.inscription-bloc,
.desktop-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inscrption-card-phone {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    width: 70%;
}

.col-desktop-1 {
    display: none;
}

@media screen and (min-width:767px) {

    .col-desktop-1{
        display: inline-block;
        position: relative;
    }
    .desktop-bloc {
        flex-direction: row;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 30px;
        width: 90%;
        height: auto;
    }

    .size-pic {
        min-width: 333px;
        max-width: 430px;
        min-height: 450px;
        max-height: 664px;
        border-radius: 30px 0 0 30px;
    }

    .inscrption-card-phone {
        border: none;
        box-shadow: none;
    }

    .mobile {
        display: none;
    }

    .image-position {
        z-index: 1;
    }
    .col-desktop-1 .text-position {
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
        position: absolute;
        text-align: center;
        font-family: Georgia;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 60%;
        color: white;
        width: 70%;
    }
}