.title {
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row-gender {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: solid 1px #2146C7;
}

.form input:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: solid 1px grey ;
}


.intro-texte {
    font-style: italic;
    text-align: center;
    margin: 20px;
}

.err {
    color: red;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.success {
    color: green;
    font-weight: bold;
}

.no-decoration {
    border: none;
    background-color: white;
    cursor: pointer;
}

.no-decoration:hover {
    font-weight: bold;
}

.inscription-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inscrption-card-phone {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    width: 70%;
}