.title {
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
}

#birth {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.err-msg-style {
    color: red;
    font-style: italic;
}

.row-gender {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: solid 1px #010101;
}

.form input:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: solid 1px grey ;
}


.intro-texte {
    font-style: italic;
    text-align: center;
    margin: 20px;
}

.err {
    color: red;
    font-weight: bold;
}

.connection-option {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.success {
    color: green;
    font-weight: bold;
}

.no-decoration {
    border: none;
    cursor: pointer;
    margin: 15px 0;
    background-color: white;
}

.no-decoration:hover {
    color: rgba(22, 22, 23, .8)
}

.title-sign-up-page-2 {
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 30px;
    color: white;
    box-shadow: 0 4px 5px -2px grey;
    background-color: #010101;
}

.subtitle-p2-insc {
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: rgba(22, 22, 23, .8);
    padding: 20px;
    box-shadow: 0 8px 5px -2px grey;
    width: 100%;
}

.bloc-insc-2 {
    display: flex;
    align-items: center;
    justify-content: center;flex-direction: column;
}

.inscription-bloc,
.desktop-bloc,
.connection-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.inscrption-card-phone {
    width: 80%;
}

.connection-card-phone {
    width: 90%;
}

.inscrption-card-phone,
.connection-card-phone {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
}

.col-desktop-1 {
    display: none;
}

@media screen and (min-width:767px) {

    #signUpEmail {
        margin-top: 40px;
    }

    .col-desktop-1{
        display: inline-block;
        position: relative;
    }
    .desktop-bloc {
        flex-direction: row;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 30px;
        width: 90%;
        height: 450px;
        margin-top: 55px;
    }

    .size-pic {
        min-width: 333px;
        max-width: 430px;
        min-height: 450px;
        max-height: 664px;
        border-radius: 30px 0 0 30px;
    }

    .inscrption-card-phone,
    .connection-card-phone {
        border: none;
        box-shadow: none;
    }

    .mobile {
        display: none;
    }

    .image-position {
        z-index: 1;
    }
    .col-desktop-1 .text-position {
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
        position: absolute;
        text-align: center;
        font-family: Georgia;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 60%;
        color: white;
        width: 70%;
    }
}

@media screen and (min-width:1281px) {
    .desktop-bloc {
        height: 520px;
    }

    .size-pic {
        min-width: 550px;
        max-width: 650px;
        min-height: 520px;
        max-height: 664px;
        border-radius: 30px 0 0 30px;
    }
}

@media screen and (min-width:1300px) {

    .form input {
        width: 220px;
        font-size: 17px;
    }

    .row-gender {
        width: 400px;
        font-size: 17px;
     }
}

@media screen and (min-width:1600px) {
    .desktop-bloc {
        height: 520px;
    }

    .size-pic {
        min-width: 700px;
        max-width: 750px;
        max-height: 520px;
        border-radius: 30px 0 0 30px;
    }
}