.back-arrow-row,
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bloc-back-home {
    position: fixed;
    top: 3%;
    left: 0;
    right: 0;
    margin-bottom: 30px;
}

.size-icon-home,
.size-text-home {
    font-size: 30px;
    padding: 15px;
    text-decoration: none;
    color: #2146c7;
}

@media screen and (min-width:950px) {
    .size-icon-home,
    .size-text-home {
    font-size: 45px;
    }}