h1 {
    text-align: center;
    font-size: 20px;
}

.bg-blue {
background-color: #0008C1;
}

.nav-bar-bloc {
    background-color: #0008C1;
    width: 100%;
    height: 50px; 
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center ;
    padding: 20px 0 20px 0px;
}

.title-wannasurf {
    color: white;
}
  
.icon-param {
    width: 35px;
    color:beige;
    height: 35px;
    margin-left: 15px;
    margin-right: 40px;
}

.logo-color {
    color: #E6CBA8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.bruger-menu .navbar-links {
    display: flex;
}

.bruger-menu .navbar-link {
    padding: 0.5rem;
    color: white;
}

.bruger-menu .navbar-links-public {
    display: flex;
}

.bruger-menu .navbar-link-public {
    padding: 0.5rem;
    color: white;
}

.navbar-links-public .navbar-item {
    margin: 20px;
    background-color: transparent;
}
.navbar-burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    display: none;
    margin-right: 30px;
}
.bruger-menu .navbar-link {
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.bruger-menu .navbar-link:hover {
    cursor: pointer;
    opacity: 0.8;
}

.logo-size {
    width: 70px;
    height: 70px;
}

@media screen and (max-width:767px) {
    .navbar-links {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        align-items: center;
        right: -100vw;
        top: 0px;
        background-color: #2146C7;
        visibility: hidden;
    }
    .show-nav .navbar-links {
        width: 100vw;
        right: 0;
        visibility: visible;
    }
    .navbar-link {
        display: block;
        margin: 10px;
        font-size: 5vw;
    }
    .navbar-burger {
        display: block;
    }
    .navbar-burger:hover {
        cursor: pointer;
    }
    .burger-bar,
    .burger-bar:before,
    .burger-bar:after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: white;
    }
    .burger-bar:before,
    .burger-bar:after {
        content:"";
        position: absolute;
        left:0;
    }
    .burger-bar:before {
        transform: translateY(-12px);
    }
    
    .burger-bar:after {
        transform: translateY(12px);
    }
    .navbar-links-public {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        align-items: center;
        right: -100vw;
        top: 0px;
        height: 50%;
        background-color: black;
        visibility: hidden;
    }
    .show-nav .navbar-links-public {
        width: 100vw;
        right: 0;
        visibility: visible;
    }
    .navbar-link-public {
        display: block;
        margin: 10px;
        font-size: 5vw;
    }
}
    @media screen and (min-width:1200px) {
        .bruger-menu .navbar-link {
            font-size: 21px;
            padding: 0px;
            margin: 10px;
        }
        .title-wannasurf h1 {
            font-size: 26px;
        }

}
