.espace-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-desk {
        margin-top: 25px;
}

.home-back {
    display: flex;
    justify-content: center;
}

.title-bloc h1 {
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: rgba(22, 22, 23, .8);
    padding: 30px;
    box-shadow: 0 8px 5px -2px grey;
}

.text-espace-intro {
    margin: 25px 0 0 25px;
    font-style: italic;
    font-size: 20px;
}

.user-espace {
    font-weight:bold ;
}

.space-button{
    height: 95px;
}

.space-button a {
    margin: 0;
}

.desk-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 560px;
    margin-bottom: 25px;
}

.icon-home {
    margin-left: 20px;
}

.left-desk, .style-img {
    display: none;
}

.desk-div {
    margin-top: 15px;
}

.text-email {
    color: red;
    padding: 15px;
}

.bloc-verif {
    margin: 25px 30px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bloc-verif Button {
    margin: 15px;
}

@media screen and (min-width:763px) {
    .espace-bloc     {
        align-items: center;
    }

Button {
    margin: 40px;
}

.bloc-verif {
    flex-direction: row;
}

.left-desk {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    margin-top: 25px;
}

.style-img {
    display: flex;
    width: 450px;
    height: 420px;
    border-radius: 0 10px 10px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.desk-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-desk {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 2;
}
}

@media screen and (min-width:1070px) {

    .style-img {
        width: 590px;
        height: 540px;
    }

}

@media screen and (min-width:1665px) {

    .espace-bloc {
        flex-direction: row;
    }
}