h1 {
    text-align: center;
    font-size: 20px;
}
  
.nav-bar-bloc {
    background-color: #0008C1;
    width: 100%;
    height: 50px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    padding: 20px 0 20px 0px;
}
  
.logo-param {
    width: 35px;
    height: 35px;
    margin-left: 15px;
}

.logo-color {
    color: #E6CBA8;
}

.hamburger-style {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}