.legal-notice-bloc {
    margin: 20px;
}

.intro {
    font-style: italic;
}

.texte-corps {
    margin-top: 20px;
    text-align: justify;
}

.legal-notice-bloc h1 {
    font-size: 20px;
    font-weight: bolder;
}

.legal-notice-bloc p {
    margin-top: 15px;
}

.space {
    margin-right: 15px;
}

@media screen and (min-width:1280px) {

    .legal-notice-bloc h1 {
        font-size: 35px;
        margin-bottom: 4%;
    }

    .legal-notice-bloc {
        margin-top: 3%;
    }

    .texte-corps {
        font-size: 21px;
    }

    .texte-corps p{
        margin-bottom: 2%;
    }
}