.title-contact {
    font-weight: bold;
    margin: 20px;
}

.contact-bloc {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: justify;
    margin-top: 5%;
}

.Contact-bloc {
    margin-top: 5%;
}

.intro-contact,
.contact,
.contact-end {
    margin: 20px;
}

.contact {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-contact {
    font-style: italic;
}

.space {
    margin-left: 20px;
}
.contact-line {
    display: flex;
    flex-direction: row;
    margin: 30px;
    align-items: center;
}

@media screen and (min-width:1280px) {

.title-contact h1 {
        font-size: 35px;
    }
.contact-bloc {
    margin-top: 3%;
}

.Contact-bloc {
    margin-top: 5%;
    font-size: 21px;
}

.contact {
    margin: 5% 2%;
}

}