.intro-traject, .price, .center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-detail h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

.margin {
    margin-left: 5px
}

.departure {
    margin-right: 30px;
}

.price {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-top: 20px;
}

.driver {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

@media screen and (min-width:767px) {
    .driver, .price, .departure, .surfspot {
        font-size: 19px;
    }
    .title-detail h1 {
        font-size: 40px;
    }
}