.profil-bloc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 30px 70px 30px;
}

.bloc-profil-1,
.bloc-profil-2,
.bloc-profil-3,
.bloc-profil-4,
.bloc-profil-5,
.bloc-profil-6 {
    display: flex;
    flex-direction: row;
    margin: 30px;
}