.espace-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-back {
    display: flex;
    justify-content: center;
}

.title-bloc h1 {
    text-align: center;
    color:#2146C7;
    font-size: 20px;
    margin-top: 25px;
}

.text-espace-intro {
    margin: 25px 0 0 25px;
    font-style: italic;
    font-size: 20px;
}

.user-espace {
    font-weight:bold ;
}

.space-button{
    height: 95px;
}

.space-button a {
    margin: 0;
}

.icon-home {
    height: 35px;
    margin: 25px 0 0 30px
}

@media screen and (min-width:1300px) {
    .espace-bloc     {
        flex-direction: row;
        align-items: center;
        margin-top: 20%;
    }
}

Button {
    margin: 40px;
}

.title-bloc h1 {
    text-align: left;
    color:blue;
    font-size: 30px;
    margin: 25px 0 15px 25px;
}